:root {
  --dark-font: #362B24;
  --primary-red: #e07961;
  --primary-purple: #2b273e;
}

.continue-btn {
  text-transform: uppercase;
  border: none;
  font-family: 'Roboto', serif;
  margin: 1rem;
  padding: 20px;
  color: var(--dark-font) !important;
  width: auto;
  background-color: var(--primary-red);
  border-radius: 10em;

}
.vert-center {
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color:black;
}
.container-fluid {
  height: 100vh;
  display: block;
}
.main-question {
  font-family: 'Merriweather', serif;
  color: var(--dark-font);
}
.additional-prompt {
  font-family: "Roboto", sans-serif;
  color: var(--dark-font);
}
.imgs-col {
  word-wrap: break-word;
  max-width: 650px;
  margin-left: 100px;

}
.titles-col {
  word-wrap: break-word;
  max-width: 650px;

}
[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 2px solid #f00;
}
.img-survey {
  height:250px;
  max-width:150px;
}
